node_modules
.next/cache
.git
.github
.env
.env.local
.env.*.local
*.log
.DS_Store
README.md
src
app
styles
next.config.mjs
tsconfig.json
tsconfig.tsbuildinfo
eslint.config.js
.prettierrc.json
.prettierignore
